<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Hosting | Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="/manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href={{url_for('static', filename="/assets/img/favicon.ico")}}>

    <!-- CSS here -->
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/owl.carousel.min.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/slicknav.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/flaticon.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/progressbar_barfiller.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/gijgo.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/animate.min.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/animated-headline.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/magnific-popup.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/fontawesome-all.min.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/themify-icons.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/slick.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/nice-select.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="/assets/css/style.css")}}>
    
    <style>
        .background-video-section {
            position: relative !important;
            top: 10px;
            left:0;
            width: 100%;
            height: 790px;

            opacity: 0.18;
            overflow: hidden;
            z-index: -1 !important;
        }

        #back_container {
            position: relative !important;
            top: 100px;
            z-index: 1 !important;
            height: 924px;
        }

        

            /* 전체 화면 가로선을 위한 스타일 */
            .full-width-line {
                width: 100%;
                /* 선의 너비를 화면 전체로 설정 */
                height: 1.2vh;
                /* 선의 두께, 원하는 만큼 조정 가능 */
                background-color: black;
                /* 선의 색상, 원하는 색으로 변경 가능 */
                margin-top: 3.5vh;
                /* 버튼과 선 사이의 간격 */
            }
    
    
            /* 반응형 레이아웃을 위한 미디어 쿼리 */
            @media (max-width: 768px) {
                .btn1 {
                    margin-left: auto;
                    /* 화면이 줄어들면 자동으로 오른쪽에 붙음 */
                }
            }
    
            @media (min-width: 769px) {
                .btn1 {
                    margin-left: calc(100% - 120px);
                    /* 버튼 너비와 마진을 고려한 계산 */
                }
            }
    
            #center-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70vh;
                /* 브라우저 높이에 맞춤 */
            }
    
            /* 원 스타일 */
            #center-circle {
                width: 25vw;
                /* 원의 너비 */
                height: 25vw;
                /* 원의 높이 */
                max-width: 25vw;
                max-height: 50vh;
                min-width: 15vw;
                min-height: 30vh;
                background-color: #f00;
                border-radius: 50%;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                cursor: pointer;
                transition: box-shadow 0.3s ease;
                color: white;
                font-family: Arial, sans-serif;
                font-size: calc(1vw + 1vh + 0.5vmin);
                /* 폰트 크기도 뷰포트에 따라 조절 */
                text-align: center;
                /* top과 left, transform 속성은 더 이상 필요하지 않음 */
            }
    
    
            #center-circle:hover {
                box-shadow: 0 0 20px #fff;
                /* 마우스 오버 시 반짝이는 효과 */
                background-color: #c00;
                /* 마우스 오버 시 색상 변경 */
                font-weight: bolder;
                font-size: 3vi;
            }
    
            #circle-text {
                font-size: 2vw;
                /* 텍스트 크기를 원의 크기에 맞게 조정 */
                user-select: none;
                /* 텍스트 선택 방지 */
                transition: color 0.3s;
                /* 색상 변화에 애니메이션 효과 적용 */
                font-size: 3vi;
                font-weight: bolder;

            }
    
            #center-circle:hover #circle-text {
                color: black;
                /* 마우스 오버 시 텍스트 색상을 검은색으로 변경 */
                font-weight: bolder;
                font-size: 3vi;
            }
    
            #circle-clicked {
                color: blue;
                /* 클릭 시 텍스트 색상을 파란색으로 변경 */
                font-weight: bolder;
                font-size: 3vi;
            }

            .main-header {
                padding : 0px;
                margin : 0px;
            }           
        
            #Text_View {
                font-size: 40px; /* 글꼴 크기 조정 */
                background-color: #f2f2f2; 
                border: 2px solid #d1d1d1;
                padding: 10px; /* 패딩 조정 */
                line-height: 1.2; /* 줄 간격 조정 */
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                width: 80%;
                margin-top: 20px; /* 상단 마진 줄임 */
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                height: auto; /* 높이를 자동으로 설정 */
                position: relative; /* 위치를 상대적으로 설정 */
                top: -70px; /* 상단으로 30픽셀 이동 */
            }

            #recording-animation {
                width: 80%;
                height: auto;        /* 높이를 자동으로 설정하여 비율을 유지 */
                position: absolute;  /* 절대 위치 지정 */
                left: 60px;             /* 왼쪽 아래로 정렬 */
                bottom: 85px;           /* 왼쪽 아래로 정렬 */
            }
            
        /* 화면의 너비가 800px 이하이고 높이가 480px 이하일 때 적용되는 스타일 */
        @media (max-width: 800px) and (max-height: 480px) {
            #recording-animation {
                width: 30%; /* GIF의 너비를 화면에 맞춰 조정 */
                /* left와 bottom의 값을 퍼센티지나 vw/vh 단위로 조정하여 반응형으로 만듭니다 */
                left: 50%; /* 화면의 가로 중앙에 위치하도록 설정 */
                bottom: 50%; /* 화면의 세로 중앙에 위치하도록 설정 */
                transform: translate(-50%, 50%); /* 요소의 중앙을 정확한 위치로 조정 */
    }
}


    </style>
</head>
<body>
<!--? Preloader Start   
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src={{url_for('static', filename="/assets/img/logo/loder.png")}} alt="">
                </div>
            </div>
        </div>
    </div>
-->
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo" >
                                    <a href="/" ><img src={{url_for('static', filename="/assets/img/logo_bg2.png")}} alt="" style="width:200px; height:80px; margin-top:1%;"></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end" style="margin-top:1px;">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                {% if 'user' in session %}
                                                    <li><h3 class="display-4" style="color: #3366FF; display: inline;"><span>{{user_Name}}</span></h3><h1 style="display: inline; color: #f03699;"> 님 반갑습니다 !</h1></li>
                                                {% endif %}

                                                <!--
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="packages.html">Packages</a></li>
                                                <li><a href="help.html">Help</a></li>
                                                <li><a href="#">Blog</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">Blog</a></li>
                                                        <li><a href="blog_details.html">Blog Details</a></li>
                                                        <li><a href="elements.html">Element</a></li>
                                                    </ul>
                                                </li>
                                                
                                                <li><a href="/render">Contact</a></li>
                                                ->
                                                
                                                <!-- Button -->
                                                {% if 'user' in session %}
                                                <li class="button-header margin-left"><a href="/user/logout" class="btn">Log Out</a></li>
                                                <li class="button-header margin-left"><a href="/user/mypage" class="btn">My Page</a></li>
                                                {% else %}
                                                    <li class="button-header margin-left"><a href="/user/registerForm" class="btn">Sign Up</a></li>
                                                    <li class="button-header margin-left"><a href="/user/loginForm" class="btn">Sign In</a></li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if 'user' in session %}
                {% else %}
                <div class="background-video-section" data-vide-bg="static/assets/img/disabled1.mp4">
                {% endif %}
            </div>
        </div>
        <!-- Header End -->
    </header>


    
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider d-flex align-items-center slider-height">
<!--                    <div id="background-image" data-vide-bg="static/assets/img/disabled1.mp4"> -->
                    {% if 'user' in session %}
                    <div class="container">
                        <div id ="back_container" class="row align-items-center justify-content-between">
                            <div class="col-xl-5 col-lg-5 col-md-9 ">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".3s">Best Domain & hosting service provider</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s ">AI - SPEAKER</h1>
                                    <p data-animation="fadeInLeft" data-delay=".8s">
                                        구음장애 환자를 위한 음성변환 서비스
                                    </p>시작
                                    <!-- Slider btn -->
                                    <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <!--
                                        <a data-animation="fadeInLeft" data-delay="1s" href="industries.html" class="btn radius-btn" >get started</a>
                                        -->
                                    </div>
                                </div>
                            </div>
    
                            <div id="center-container" class="col-xl-6 col-lg-6">
<!--
                                <div id="center-circle" class="hero__img d-none d-lg-block f-right" onclick = "toggleStartStop()">
                                    <span id="circle-text" alt="" data-animation="fadeInRight" data-delay="1s" onclick="toggleStartStop()">
                                        녹음 시작
                                    </span>
                                </div>
-->
                                <div id="center-circle" class="hero__img d-none d-lg-block f-right" onclick = "toggleStartStop()">
                                    <input type="checkbox" id="chk-hear-mic" style="display:none;"><label for="chk-hear-mic" style="display:none;">마이크 소리 듣기</label>
                                    <span id="circle-text" alt="" data-animation="fadeInRight" data-delay="1s" onclick = "toggleStartStop()">
                                        녹음 시작
                                    </span>
                                    <!-- GIF 이미지 추가 -->
                                    <img id="recording-animation" src="/static/assets/img/rec4.gif" alt="녹음중" style="display: none;">
                                    <div id="sound-clips"></div>
                                </div>
                            </div>


    
                        </div>
                            <!-- 녹음 내용을 표시할 공간 -->
                            <div id="Text_View" style="display: none;"></div>
                            <input type ="hidden" name= "speech" id="Text_Content" placeholder = "content"/>
                            <input type ="hidden" name= "voices" id="user_Gender" value = {{user_Gender}}>
                            <div id="center-circle2">클릭해 보세요</div>
                        </div>




                {% else %}
                <div class="container">
                    <div id ="back_container" class="row align-items-center justify-content-between">
                        <div class="col-xl-5 col-lg-5 col-md-9 ">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".3s">Best Domain & hosting service provider</span>
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">AI - SPEAKER</h1>
                                <p data-animation="fadeInLeft" data-delay=".8s">
                                    구음장애 환자를 위한 음성변환 서비스
                                </p>
                                <!-- Slider btn -->
                                <div class="slider-btns">
                                    <!-- Hero-btn -->
                                    <!--
                                    <a data-animation="fadeInLeft" data-delay="1s" href="industries.html" class="btn radius-btn" >get started</a>
                                    -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">
                                <img style="margin-left: 300px; width:500px; height: 300px;" src={{url_for('static', filename="/assets/img/speaker.png")}} alt="" data-animation="fadeInRight" data-delay="1s">
                            </div>
                        </div>

<!--
                        <div id="center-container" class="col-xl-6 col-lg-6">
                            <div id="center-circle" class="hero__img d-none d-lg-block f-right">
                                <span id="circle-text" alt="" data-animation="fadeInRight" data-delay="1s">
                                    녹음 시작
                                </span>
                            </div>
                        </div>
-->
<!--
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">
                                <img src={{url_for('static', filename="/assets/img/hero/hero_right.png")}} alt="" data-animation="fadeInRight" data-delay="1s">
                            </div>
                        </div>
-->
                    </div>
                </div>
<!--                </div>
-->
            </div>      
                {% endif %}
                <!--                
                / Single Slider /
                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".3s">Best Domain & hosting service provider</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s">Powerful web hosting</h1>
                                    <p data-animation="fadeInLeft" data-delay=".8s">Supercharge your WordPress hosting with detailed 
                                        website analytics, marketing tools, security, and data 
                                    backups all in one place.</p>
                                  /   Slider btn /
                                    <div class="slider-btns">
                                        / Hero-btn /
                                        <a data-animation="fadeInLeft" data-delay="1s" href="industries.html" class="btn radius-btn">get started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img src={{url_for('static', filename="/assets/img/hero/hero_right.png")}} alt="" data-animation="fadeInRight" data-delay="1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
            / Slider Shape /
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src={{url_for('static', filename="/assets/img/hero/top-left-shape.png")}} alt="">
            </div>
        </div>
    </div>
-->

        <!-- Slider Area End -->
        <!-- Domain-search start -->
<!--
        <div class="domain-search-area section-bg1">
           <div class="container">
               <div class="row">
                   <div class="col-xl-4 col-lg-5">
                       <h2>Search new domain</h2>
                       <p>Supercharge your WordPress hosting with detailed  website analytics, marketing tools.</p>
                   </div>
                   <div class="col-xl-8 col-lg-7">
                    
                    <form action="#" class="search-box">
                        <div class="input-form">
                            <input type="text" placeholder="Search for a domain">
                            
                            <div class="search-form">
                                <button><i class="ti-search"></i></button>
                            </div>
                            
                            <div class="world-form">
                                <i class="fas fa-globe"></i>
                            </div>
                        </div>
                    </form>   
                    
                    <div class="single-domain pt-30 pb-30">
                        <ul>
                            <li><span>.com</span> <p>$15.99</p></li>
                            <li><span>.net</span> <p>$10.99</p></li>
                            <li><span>.rog</span> <p>$10.99</p></li>
                            <li><span>.me</span> <p>$10.99</p></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
-->
    <!-- Domain-search End -->
    <!--? Team -->
<!--    
    <section class="team-area section-padding40 section-bg1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mb-105">
                        <h2>Most amazing features</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6"">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src={{url_for('static', filename="/assets/img/icon/services1.svg")}} alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Employee Owned</a></h5>
                            <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src={{url_for('static', filename="/assets/img/icon/services2.svg")}} alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Commitment to Security</a></h5>
                            <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src={{url_for('static', filename="/assets/img/icon/services3.svg")}} alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Passion for Privacy</a></h5>
                            <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src={{url_for('static', filename="/assets/img/icon/services4.svg")}} alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Employee Owned</a></h5>
                            <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src={{url_for('static', filename="/assets/img/icon/services5.svg")}} alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">24/7 Support</a></h5>
                            <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src={{url_for('static', filename="/assets/img/icon/services6.svg")}} alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">100% Uptime Guaranteed</a></h5>
                            <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- Services End -->
    <!--? Pricing Card Start -->
<!--
    <section class="pricing-card-area fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-tittle text-center mb-90">
                        <h2>Choose plan which fit for you</h2>
                        <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools. Our experts are just part of the reason Bluehost is the ideal home for your WordPress website. We're here to help you succeed!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src={{url_for('static', filename="/assets/img/icon/price1.svg")}} alt="">
                            <h4>Shared Hosting</h4>
                            <p>Starting at</p>
                        </div>
                        <div class="card-mid">
                            <h4>$4.67 <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>2 TB of space</li>
                                <li>unlimited bandwidth</li>
                                <li>full backup systems</li>
                                <li>free domain</li>
                                <li>unlimited database</li>
                            </ul>
                            <a href="#" class="borders-btn">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src={{url_for('static', filename="/assets/img/icon/price2.svg")}} alt="">
                            <h4>Dedicated Hosting</h4>
                            <p>Starting at</p>
                        </div>
                        <div class="card-mid">
                            <h4>$4.67 <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>2 TB of space</li>
                                <li>unlimited bandwidth</li>
                                <li>full backup systems</li>
                                <li>free domain</li>
                                <li>unlimited database</li>
                            </ul>
                            <a href="#" class="borders-btn">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src={{url_for('static', filename="/assets/img/icon/price3.svg")}} alt="">
                            <h4>Cloud Hosting</h4>
                            <p>Starting at</p>
                        </div>
                        <div class="card-mid">
                            <h4>$4.67 <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>2 TB of space</li>
                                <li>unlimited bandwidth</li>
                                <li>full backup systems</li>
                                <li>free domain</li>
                                <li>unlimited database</li>
                            </ul>
                            <a href="#" class="borders-btn">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- Pricing Card End -->
    <!--? About-1 Area Start -->
<!--
    <div class="about-area1 section-padding40">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    
                    <div class="about-img ">
                        <img src={{url_for('static', filename="/assets/img/gallery/about1.png")}} alt="">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption ">
                      
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>Global server location</h2>
                        </div>
                        <p class="mb-40">Supercharge your WordPress hosting with detailed website analytics, marketing tools. Our experts are just part of the reason Bluehost is the ideal home for your WordPress website. We're here to help you succeed!</p>
                        <ul>
                            <li>
                                <img src={{url_for('static', filename="/assets/img/icon/right.svg")}} alt="">
                                <p>WordPress hosting with detailed website</p>
                            </li>
                            <li>
                                <img src={{url_for('static', filename="/assets/img/icon/right.svg")}} alt="">
                                <p>Our experts are just part of the reason</p>
                            </li>
                            <li>
                                <img src={{url_for('static', filename="/assets/img/icon/right.svg")}} alt="">
                                <p> Detailed website analytics</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="about-area1 pb-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption about-caption3 mb-50">
                        
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>Dedicated support</h2>
                        </div>
                        <p class="mb-40">Supercharge your WordPress hosting with detailed website analytics, marketing tools. Our experts are just part of the reason Bluehost is the ideal home for your WordPress website. We're here to help you succeed!</p>
                        <ul class="mb-30">
                            <li>
                                <img src={{url_for('static', filename="/assets/img/icon/right.svg")}} alt="">
                                <p>WordPress hosting with detailed website</p>
                            </li>
                            <li>
                                <img src={{url_for('static', filename="/assets/img/icon/right.svg")}} alt="">
                                <p>Our experts are just part of the reason</p>
                            </li>
                        </ul>
                        <a href="#" class="btn"><i class="fas fa-phone-alt"></i>(10) 892-293 2678</a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    
                    <div class="about-img ">
                        <img src={{url_for('static', filename="/assets/img/gallery/about2.png")}} alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <!-- About-2 Area End -->
    <!-- ask questions -->
<!--
    <section class="ask-questions section-bg1 section-padding30 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-10 ">
                    
                    <div class="section-tittle text-center mb-90">
                        <h2>Frequently ask questions</h2>
                        <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools. Our experts are just part of the reason Bluehost is the ideal home for your WordPress website. We're here to help you succeed!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>Why can't people connect to the web server on my PC?</h2>
                            <p>We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>What domain name should I choose for my site?</h2>
                            <p>We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>How can I make my website work without www. in front?</h2>
                            <p>We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>Why does Internet Information Server want a password?</h2>
                            <p>We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="more-btn text-center mt-20">
                        <a href="#" class="btn">Go to Support</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->

    <!-- End ask questions -->
    <!--? Testimonial Area Start -->
<!--
    <section class="testimonial-area section-bg1">    
        <div class="container" >   
            <div class="testimonial-wrapper">
                <div class="row align-items-center justify-content-center">
                    <div class=" col-lg-10 col-md-12 col-sm-11">
                       
                        <div class="h1-testimonial-active">
                           
                            <div class="single-testimonial text-center mt-55">
                                <div class="testimonial-caption">
                                    <img src={{url_for('static', filename="/assets/img/icon/quotes-sign.png")}} alt="" class="quotes-sign">
                                    <p>Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls intended csents your se.</p>
                                </div>
                            
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src={{url_for('static', filename="/assets/img/icon/testimonial.png")}} alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Jacson Miller</span>
                                        <p>Designer @Colorlib</p>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="single-testimonial text-center mt-55"">
                                <div class="testimonial-caption">
                                    <img src={{url_for('static', filename="/assets/img/icon/quotes-sign.png")}} alt="" class="quotes-sign">
                                    <p>Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls intended csents your se.</p>
                                </div>
                            
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src={{url_for('static', filename="/assets/img/icon/testimonial.png")}} alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Jacson Miller</span>
                                        <p>Designer @Colorlib</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!--? Testimonial Area End -->
<!--
</main>
<footer>
    <div class="footer-wrappr " data-background={{url_for('static', filename="/assets/img/gallery/footer-bg.png")}}>
        <div class="footer-area footer-padding ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-caption mb-50">
                     
                            <div class="footer-logo mb-25">
                                <a href="index.html"><img src={{url_for('static', filename="/assets/img/logo/logo2_footer.png")}} alt=""></a>
                            </div>
                            <div class="footer-tittle mb-50">
                                <p>Subscribe our newsletter to get updates about our services</p>
                            </div>
                       
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                        <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                Subscribe
                                            </button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        
                            <div class="footer-social mt-50">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="#">Why choose us</a></li>
                                    <li><a href="#"> Review</a></li>
                                    <li><a href="#">Customers</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Carrier</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Products</h4>
                                <ul>
                                    <li><a href="#">Why choose us</a></li>
                                    <li><a href="#"> Review</a></li>
                                    <li><a href="#">Customers</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Carrier</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">  Products</a></li>
                                    <li><a href="#">Customers</a></li>
                                    <li><a href="#">Quality</a></li>
                                    <li><a href="#">Sales geography</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
        <!-- footer-bottom area -->
<!--
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center">
                                <p>
                                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                </p>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
-->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


<!-- JS here -->

<script src={{url_for('static', filename="/assets/js/vendor/modernizr-3.5.0.min.js")}}></script>
<!-- Jquery, Popper, Bootstrap -->
<script src={{url_for('static', filename="/assets/js/vendor/jquery-1.12.4.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/popper.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/bootstrap.min.js")}}></script>
<!-- Jquery Mobile Menu -->
<script src={{url_for('static', filename="/assets/js/jquery.slicknav.min.js")}}></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src={{url_for('static', filename="/assets/js/owl.carousel.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/slick.min.js")}}></script>
<!-- One Page, Animated-HeadLin -->
<script src={{url_for('static', filename="/assets/js/wow.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/animated.headline.js")}}></script>
<script src={{url_for('static', filename="/assets/js/jquery.magnific-popup.js")}}></script>

<!-- Date Picker -->
<script src={{url_for('static', filename="/assets/js/gijgo.min.js")}}></script>

<!-- Video bg -->
<script src={{url_for('static', filename="/assets/js/jquery.vide.js")}}></script>

<!-- Nice-select, sticky -->
<script src={{url_for('static', filename="/assets/js/jquery.nice-select.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/jquery.sticky.js")}}></script>
<!-- Progress -->
<script src={{url_for('static', filename="/assets/js/jquery.barfiller.js")}}></script>

<!-- counter , waypoint,Hover Direction -->
<script src={{url_for('static', filename="/assets/js/jquery.counterup.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/waypoints.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/jquery.countdown.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/hover-direction-snake.min.js")}}></script>

<!-- contact js -->
<script src={{url_for('static', filename="/assets/js/contact.js")}}></script>
<script src={{url_for('static', filename="/assets/js/jquery.form.js")}}></script>
<script src={{url_for('static', filename="/assets/js/jquery.validate.min.js")}}></script>
<script src={{url_for('static', filename="/assets/js/mail-script.js")}}></script>
<script src={{url_for('static', filename="/assets/js/jquery.ajaxchimp.min.js")}}></script>

<!-- Jquery Plugins, main Jquery -->   
<script src={{url_for('static', filename="/assets/js/plugins.js")}}></script>
<script src={{url_for('static', filename="/assets/js/main.js")}}></script>

</body>
</html>
<script>
    // 페이지 로드 시 초기 상태 설정
    window.onload = function() {
        var circleText = document.getElementById('circle-text');
        var recordingAnimation = document.getElementById('recording-animation');
        // "녹음 시작" 상태에서 시작하기 위해 텍스트 설정
        circleText.textContent = '녹음 시작';
        // GIF를 숨김
        recordingAnimation.style.display = 'none';
    };
</script>

<script type="text/javascript">
    var recognizing;
    var recognition = new webkitSpeechRecognition();
    recognition.lang = "ko-KR";
    recognition.continuous = true;
    reset();
    recognition.onend = reset;
  
    recognition.onresult = function (event) {
      var Text_View = document.getElementById('Text_View');
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          document.getElementById('Text_Content').value += event.results[i][0].transcript;
          Text_View.innerHTML += event.results[i][0].transcript + ' '; // 이어서 계속 말하기
        }
      }
    }
  
    function reset() {
      recognizing = false;
    }
  
    function toggleStartStop() {
        var circleText = document.getElementById('circle-text');
        var Text_View = document.getElementById('Text_View');
        var Text_Content = document.getElementById('Text_Content');
        var recordingAnimation = document.getElementById('recording-animation');
    
        if (recognizing) {
          recognition.stop();
          reset();
          circleText.innerHTML = '음성 재생';
          Text_View.style.display = 'block';
          recordingAnimation.style.display = 'none';
    
        } else if (circleText.innerHTML == '음성 재생') {
          circleText.innerHTML = '녹음 시작';
          Text_View.innerHTML = '';
          Text_Content.innerHTML = '';
          
          Text_View.style.display = 'none';
          recordingAnimation.style.display = 'none';
    
          fetch('/record/tts', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
              body: JSON.stringify({text: Text_Content.value})
          })
          .then(Response => Response.json())
          .then(data => {
              console.log(Text_Content.value);
          })
          .catch(error =>{
              console.error('Error:', error);
          })
        } else {
          recognition.start();
          recognizing = true;
          circleText.innerHTML = '녹음 중지';
          Text_View.style.display = 'block';
          recordingAnimation.style.display = 'block'; // GIF 표시
        }
      }
</script>