<style>
    .signup {
        color: black;
        font-size: 1.5rem;
        width: 70px;
        height: 40px;
        line-height: 42px;
        padding: 0;  
    }

    .btn-3 {
        width: 70px;
        height: 40px;
        line-height: 42px;
        padding: 0;        
    }

    .btn-5 {
        width: 70px;
        height: 40px;
        line-height: 42px;
        padding: 0;        
    }

    .center {
        background-image: url("signup1.jpg");
        background-size: cover;
    }

</style>
<center class="center">

    <form action="register.php" method="post" name="twin">
        <table width="800">
            <tr height="40">
                <td class="signup" align="center"><b>[회원가입]</b></td>
            </tr>
        </table>
        <table width="700" height="600" cellpadding="0" style="border-collapse:collapse; font-size:9pt;">
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">회원 ID</td>
                <td><input type="text" name="UserID" />&nbsp;<a href="javascript:id_check()">[ID 중복 검사]</a></td>
            </tr>
            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">비밀번호</td>
                <td><input type="password" name="Password" id="pw" onchange="isSame()" /></td>
            </tr>
            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">비밀번호 확인</td>
                <td><input type="password" name="RePassword" id="pwCheck" onchange="isSame()" />&nbsp;&nbsp;<span
                        id="same"></span></td>
            </tr>
            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">이 름</td>
                <td><input type="text" name="UserName" /></td>
            </tr>
            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">성 별</td>
                <td>
                    남 성<input type="radio" name="UserGender" value="1" checked />&nbsp;여 성<input type="radio"
                        name="wUserGender" value="2" />
                </td>
            </tr>
            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">생년월일</td>
                <td><input type="date" name="birthdate"></td>
            </tr>

            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">전화번호</td>
                <td>
                    <select name="phone1">
                        <option>010</option>
                        <option>02</option>
                        <option>031</option>
                        <option>051</option>
                    </select>
                    - <input type="text" name="phone2" size="5">
                    - <input type="text" name="phone3" size="5">
                </td>
                <!-- <td> - <input type="text" name="phone2" size="5"></td>
                <td> - <input type="text" name="phone3" size="5"></td> -->
            </tr>
            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">질병종류</td>
                <td><input type="text" name="DisabilityName" /></td>
            </tr>
            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">지 역</td>
                <td>
                    <select>
                        <option> 경기도 </option>
                        <option> 강원도 </option>
                        <option> 충청도 </option>
                        <option> 전라도 </option>
                        <option> 경상도 </option>
                        <option> 제주도 </option>
                    </select>
                </td>
            </tr>
            <tr height="7">
                <td colspan="3">
                    <hr />
                </td>
            </tr>


        </table>
        <br />
        <table>
            <button class="btn-3"> 가입 </button>
            <button class="btn-5"> 취소 </button>




            <!-- <tr height="40">
                <td><input width="120" type="image" src="img/button/btn_join.png" />&nbsp;<a href="index.php"><img
                            src="img/button/btn_cancel.png" width="120" /></a></td>
            </tr> -->
        </table>
    </form>
</center>