<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> App landing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="/manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href={{url_for('static', filename="assets/img/favicon.ico")}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

	<!-- CSS here -->
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/bootstrap.min.css")}}>
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/owl.carousel.min.css")}}>
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/slicknav.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="assets/css/flaticon.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="assets/css/progressbar_barfiller.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="assets/css/gijgo.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="assets/css/animate.min.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="assets/css/animated-headline.css")}}>
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/magnific-popup.css")}}>
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/fontawesome-all.min.css")}}>
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/themify-icons.css")}}>
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/slick.css")}}>
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/nice-select.css")}}>
	<link rel="stylesheet" href={{url_for('static', filename="assets/css/style.css")}}>

</head>
<body>

    <!-- ? Preloader Start 
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src={{url_for('static', filename="assets/img/logo/loder.png")}} alt="">
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- Preloader Start-->


   <main class="login-body" data-vide-bg="/static/assets/img/login-bg.mp4">


        <!-- Login Admin -->
    <form class="form-default" action="login-bg.mp4" method="POST">
        
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="/"><img src={{url_for('static', filename="assets/img/logo/loder.png")}} alt=""></a>
            </div>
            <h2>Login Here</h2>
            <div class="form-input">
                <i class="fa fa-street-view" style="color: #3366FF; font-size: 2.3rem;"></i>
                <label for="name">ID</label>
                <input type="ID" name="ID" placeholder="ID">
            </div>
            <div class="form-input">
                <i class="fa fa-lock" style="color: #3366FF; font-size: 2rem;"></i>
                <label for="name">Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="form-input pt-30" style= "margin-bottom: 0;">
                <input type="submit" name="submit" value="LOG IN" style="background-color: #f03699; height:45px;">
            </div>
            <div class="form-input pt-30" style="margin-top : 1rem;">
                <input type="button" name="button" value="SIGN UP" style="background-color: #3366FF; height: 45px;" onclick = "location.href='/user/register'";>
                
            </div>
            <!-- Forget Password -->
            <a href="#" class="forget">Forget Password</a>
            <!-- Forget Password -->

            </div>
    </form>
    <!-- /end login form -->
</main>


    <script src={{url_for('static', filename="assets/js/vendor/modernizr-3.5.0.min.js")}}></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src={{url_for('static', filename="assets/js/vendor/jquery-1.12.4.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/popper.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/bootstrap.min.js")}}></script>
    <!-- Jquery Mobile Menu -->
    <script src={{url_for('static', filename="assets/js/jquery.slicknav.min.js")}}></script>

    <!-- Video bg -->
    <script src={{url_for('static', filename="assets/js/jquery.vide.js")}}></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src={{url_for('static', filename="assets/js/owl.carousel.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/slick.min.js")}}></script>
    <!-- One Page, Animated-HeadLin -->
    <script src={{url_for('static', filename="assets/js/wow.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/animated.headline.js")}}></script>
    <script src={{url_for('static', filename="assets/js/jquery.magnific-popup.js")}}></script>

    <!-- Date Picker -->
    <script src={{url_for('static', filename="assets/js/gijgo.min.js")}}></script>
    <!-- Nice-select, sticky -->
    <script src={{url_for('static', filename="assets/js/jquery.nice-select.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/jquery.sticky.js")}}></script>
    <!-- Progress -->
    <script src={{url_for('static', filename="assets/js/jquery.barfiller.js")}}></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src={{url_for('static', filename="assets/js/jquery.counterup.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/waypoints.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/jquery.countdown.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/hover-direction-snake.min.js")}}></script>

    <!-- contact js -->
    <script src={{url_for('static', filename="assets/js/contact.js")}}></script>
    <script src={{url_for('static', filename="assets/js/jquery.form.js")}}></script>
    <script src={{url_for('static', filename="assets/js/jquery.validate.min.js")}}></script>
    <script src={{url_for('static', filename="assets/js/mail-script.js")}}></script>
    <script src={{url_for('static', filename="assets/js/jquery.ajaxchimp.min.js")}}></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src={{url_for('static', filename="assets/js/plugins.js")}}></script>
    <script src={{url_for('static', filename="assets/js/main.js")}}></script>
    
    </body>
</html>

<!--
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
-->

<script src="form.js"></script>